<?php
return [
    'backend' => [
            'frontName' => 'admin',
        ],
    'install' => [
            'date' => 'Fri, 20 Nov 2015 08:11:26 +0000',
        ],
    'crypt' => [
            'key' => '1a2f574b9fa432a37246d0d9ee363c1b',
        ],
    'session' => [
            'save' => 'files',
        ],
    'db' => [
            'table_prefix' => '',
            'connection' => [
                    'default' => [
                            'host' => 'localhost', // Change if you have any other host for mysql
                            'dbname' => 'magento', // change your db name here
                            'username' => 'root', // change your username here
                            'password' => 'root', // change your password here
                            'active' => '1',
                        ],
                ],
        ],
    'resource' => [
            'default_setup' => [
                    'connection' => 'default',
                ],
        ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'cache_types' => [
            'config' => 1,
            'layout' => 1,
            'block_html' => 1,
            'collections' => 1,
            'reflection' => 1,
            'db_ddl' => 1,
            'eav' => 1,
            'config_integration' => 1,
            'config_integration_api' => 1,
            'full_page' => 1,
            'translate' => 1,
            'config_webservice' => 1,
        ],
];
